<div>
  <div class="hashtag_container">
    <div class="hashtags">#stopdeforestation</div>
    <div class="hashtags">#savetheearth</div>
  </div>
  <div class="footer_container">
    <div class="footer_top">
      <div class="footer_top_left">
        <img
          src="../../../assets/images/eforest2-logo.png"
          height="55"
          class="ion-hide-sm-down"
        />
        <img
          src="../../../assets/images/eforest2-logo-vertical.png"
          height="90"
          class="ion-hide-sm-up"
        />
      </div>
      <div class="footer_top_right">
        <div class="social_media_container">
          <a target="_blank" href="https://t.me/+z0XX_-74meI3Mjhl">
            <img src="../../../assets/images/telegram.png" />
          </a>
          <a href="https://twitter.com/eforest2_world" target="_blank">
            <img src="../../../assets/images/twitter.png" />
          </a>
          <a href="https://www.youtube.com/@eforest2_world" target="_blank">
            <img src="../../../assets/images/youtube.png" />
          </a>
          <a href="https://www.facebook.com/eforest2.world" target="_blank">
            <img src="../../../assets/images/facebook.png" />
          </a>
          <a href="https://www.instagram.com/eforest2.world/" target="_blank">
            <img src="../../../assets/images/instagram.png" />
          </a>
          <a href="https://www.tiktok.com/@eforest2.world" target="_blank">
            <img
              style="width: 38px; height: 25px"
              src="../../../assets/images/tiktok.png"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="footer_seperator"></div>
    <br />
    <br />
    <div class="footer_bottom">
      <div class="footer_bottom_left">
        ©2023 {{ "EFOREST" | translate }}.
        <span style="white-space: nowrap">{{
          "ALL_RIGHTS_RESERVED" | translate
        }}</span>
      </div>
      <!-- <div class="hide_desktop">{{ "NOT_OPEN_TO_RESIDENT" | translate }}</div> -->
      <div class="footer_bottom_right">
        <a href="https://ef2.gitbook.io/user-guides/" target="_blank">{{
          "RESOURCES_CENTER" | translate
        }}</a>
        <a
          href="../../../assets/files/eForest -Term of Use_v1.1.pdf"
          target="_blank"
          >{{ "TERMS_CONDITIONS" | translate }}</a
        >
        <a
          href="../../../assets/files/E-Forest_-Privacy_Policy.pdf"
          target="_blank"
          >{{ "PRIVACY_POLICY" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
